:root {
    --color-coffee: #9c7e65;
    --color-coffee-contrast: #ffffff;
    --color-cream: #fdf6ee;
    --color-accent: #a23e48;
    --color-accent-hover: #8c373f;
    --color-medium: #636469;
    --layout-padding: 150px;
}